@tailwind base;
@tailwind components;
@tailwind utilities;

/* Spinner CSS */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #526af0;
  border-color: #526af0 transparent #526af0 transparent;
}
