@tailwind base;
@tailwind components;
@tailwind utilities;

/* Spinner CSS */

.lds-dual-ring {
  display: inline-block;
  width: 70px;
  height: 70px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 54px;
  height: 54px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #ff5700;
  border-color: #ff5700 transparent #ff5700 transparent;
}
